body{
margin:0px;
}

#menu{
width:250px;
position:absolute;
left:-250px;
z-index:3;
}

.menu_open{
}

#menubutton{
background-color: #406422;
position: relative;
height:30px;
width:30px;
left: 250px;

margin:10px 10px;
border-radius:50%;
box-shadow:3px 3px 5px;

/*opacity:0.85;
filter: alpha(opacity=90); /*IE8 compat*/
z-index:2;
}

.page-container{
position:absolute;
top:0px;
left:0px;
background-color: #CCDDCC;
width:100%
overflow:hidden;
}


header{
height:200px;
overflow:hidden;
margin:auto;
}

header img{
width:100%;
height:auto;
opacity: 0.6;
filter: alpha(opacity=60); /* For IE8 and earlier */
z-index: 0;

}

div.menubar menuitem{
    display:block;
}