$headheight:20%;
$menuwidth:15%;
$basicbg:#CCDDCC;
/*gotta make a mobile version sometime.*/
html{
height:100%;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body{
margin:0px;
min-height:100%;
background-color:$basicbg;
}

header{
height:$headheight;
overflow:hidden;
margin:auto;

    header img{
    width:100%;
    height:auto;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    z-index: 0;
    }
    #head-overlay{
    height:$headheight;
    position:absolute;
    top:0px;
    width: 100%;
    z-index:1;
        h1{
            text-align:center;            
            @extend %vertical-align;
            background-color: hsla(1,1%,1%,0.5);
            color:406422;
            color: hsla(120,80%,60%,1);
            }
    }

    #menu{
    text-align:center;
    height:$headheight;
    width:$menuwidth;
    position:absolute;
    left:(-1 * $menuwidth);
    z-index:3;
    background-color:406422;
    background-color: hsla(120,80%,60%,0.85);
        #menubutton{
        background-color: #406422;
        background-color: hsla(120,80%,60%,0.85);
        position: absolute;
        height:30px;
        width:30px;
        left: 100%;

        margin:10px 10px;
        border-radius:50%;
        box-shadow:3px 3px 5px;
        /*opacity:0.85;
        filter: alpha(opacity=85); IE8 compat*/
        }
        #menulist{
        @extend %vertical-align;
        }
        menuitem{
        display:block;
        margin: 0 auto; //why won't this work?
        }
    }
}

.main-container{
position:absolute;
top:$headheight;
left:0px;
background-color: $basicbg;
width:100%;
height:100%;
padding:40px;
text-align:center;
/* overflow:hidden; */
    main{
    text-align:left;
    margin: 0 auto;
    background-color:$basicbg;
        }
}