body{
}

nav{
width:250px;
position:absolute;
left:-250px;
}

.menubutton{
background-color: #406422;
margin:10px 10px;
border-radius:50%;
box-shadow:3px 3px 5px;

height:30px;
width:30px;

position:relative;
left:250px;

opacity:0.85;
filter: alpha(opacity=90); /*IE8 compat*/
z-index:2;
}

#menu-toggle1{
}

.page-container{
position:absolute;
top:0px;
left:0px;
background-color: #CCDDCC;
width:100%
}


header{
height:200px;
overflow:hidden;
margin:auto;
}

header img{
width:100%;
height:auto;
opacity: 0.6;
filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.menubar menuitem{
    display:block;
}